body {
  margin: 0;
  background: #323232;
  color: #eee;
  font-family: 'Courier New';
  overflow: hidden;
}

@font-face {
  font-family:"pixel";
  /*src:url("/font/pixelart.eot?") format("eot"),
      url("/font/pixelart.woff") format("woff"),
      url("/font/pixelart.ttf") format("truetype"),
      url("/font/pixelart.svg#Pixel-Art") format("svg");*/
  src: url('/font/5x5_rounded.eot');
  src: url('/font/5x5_rounded.eot') format('embedded-opentype'),
       url('/font/5x5_rounded.woff') format('woff'),
       url('/font/5x5_rounded.ttf') format('truetype'),
       url('/font/5x5_rounded.svg#5x5roundedRegular') format('svg');
  font-weight:normal;
  font-style:normal;
}

a {
  color: #29f;
}

#fosInstall {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #323232;
  color: #000;
}

#fosInstall > .install {
  position: absolute;
  left: 64px;
  right: 64px;
  width: auto;
  text-align: center;
  top: 50%;
  margin-top: -16px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  padding: 4px 8px;
  background: #f60;
  color: #fff;
}

#fosInstall > .status {
  position: absolute;
  left: 64px;
  right: 64px;
  width: auto;
  text-align: center;
  top: 50%;
  margin-top: 16px;
  height: 32px;
  line-height: 32px;
  padding: 4px 8px;
  color: #999;
}

#refresh {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 32px;
  height: 32px;
  background: url('/images/reload.png') no-repeat;
}

#menu {
  display: none;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  background: url('/images/menu.png') no-repeat;
}

#lobby {
  position: absolute;
  width: 320px;
  top: 50%;
  left: 50%;
  margin: -26px 0 0 -150px;
  font-size: 24px;
  text-align: center;
  font-family: "pixel";
}
#lobby > h1 {
  margin-top: 0;
  font-size: 20px;
  font-weight: normal;
}

#ruler {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  visibility: hidden;
}

#game {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  max-width: 832px;
  max-height: 384px;
  background: url('/images/background.png');
}